p {
	font-size:15px;
}
.p-center{
	font-size:14px;
	margin:12px 0;
	text-align:center;
}
.event-info-top{
	height:70px;
	border:1px solid #efefef;
}
.event-info-top:hover > .event-info-top-fav span{
	color:#ffa500;
}
.event-info-top:hover > .event-info-top-fav2 p{
	color:#ffa500;
}
.event-info-top p{
	height:70px;
	display:table-cell;
	vertical-align:middle;
}
.event-info-top-fav{
	width:100%;
	height:45px;
}
.event-info-top-fav span{
	font-size:36px; 
	color:#c0c0c0;
	vertical-align: middle;
	text-align:center;
	margin-top:10px;
}
.event-info-top-fav2{
	width:100%;
	height:25px;
}
.event-info-top-fav2 p{
	height:auto;
	display:inline;
	font-size:13px;
	color:#c0c0c0;
}
.event-info-top-fb{
	background:#3b5998;
	height:70px;
}
.event-info-top-fb a{
	display: block;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	color:#ffffff;
	padding-top:5px;
	font-weight:lighter;
	text-align:center;
}
.event-info-top-tw{
	background:#4099ff;
	height:70px;
}
.event-info-top-tw a{
	display: block;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	color:#ffffff;
	padding-top:5px;
	font-weight:lighter;
	text-align:center;
}
.container{
	background:#ffffff;
	border-radius: 9px 9px 9px 9px;
}
.art-title{
	margin-top:15px;
}
.art-title h2{
	border-bottom:3px solid #ced16b; 
	font-size:28px;
	padding:5px 15px;
}
.koko-box-shadow{
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2);
}
.fav-btn{
	text-align:center;

}
.img-obfit{
	padding:0 !important;
	max-height: 380px;
    object-fit: cover;
    overflow: hidden; // Cuts off the parts of the image poking out
}
.img-obfit img{
	border-radius:9px 9px 0px 0px;
	vertical-align: middle;
}
.img-obfit-incnts img{
	width:100%;
	height:auto;
}
.detail-info-table{
	font-size:14px;
}
.detail-info-table tr{
	padding: 10px 20px;
}
.detail-info-table td{
	padding: 5px 20px;
}
.apply-btn{
	text-align:center;
	margin:15px 0;
}




.sb-apply-btn{
	border-radius: 9px 9px 9px 9px !important; 
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2); 
	background:#5ba525;
	height:70px;
	border:1px solid #509020;
	color:#ffffff;
	font-size:22px !important;
}
.sb-apply-btn:hover{
	background:#509020;
	color:#ffffff !important;
}
.event-pg-sb{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #ededed;
}
.event-pg-sb h1{
	font-size:16px;
	margin-top:15px !important;
}
.event-pg-sb h2{
	font-size:13px;
	color:#c0c0c0;
	margin-top:10px !important;
	margin-bottom:0px !important;
	text-align:left;
	padding-left:1px;
}
.event-pg-sb p{
	font-size:13px;
	color:#c0c0c0;
}
.event-pg-sb-cat{
	font-size:12px !important;
	display:inline;
	color:#ffffff !important;
	padding:3px 7px;
	border:1px solid #ededed;
	border-radius: 9px 9px 9px 9px;
}
.event-pg-sb-title{
	margin-top:5px;
	margin-bottom:5px;
}

