p {
	font-size:14px;
	line-height: 160%;
  	letter-spacing: 0.04em;
  	color: #2b2b2b;
}
a{
	text-decoration: none;
}
.p-center{
	font-size:14px;
	margin:12px 0;
	text-align:center;
}
.event-info-top{
	height:70px;
	border:1px solid #efefef;
}
.event-info-top img{
	float:left;
	max-width:50px;
	max-height:50px;
	margin:10px;
	vertical-align:middle;
}
.carousel-inner>.item>img{
	height:360px !important;
}
.event-info-top:hover > .event-info-top-fav span{
	color:#ffa500;
}
.event-info-top:hover > .event-info-top-fav2 p{
	color:#ffa500;
}
.event-info-top p{
	height:70px;
	display:table-cell;
	vertical-align:middle;
}
.event-info-top-fav{
	width:100%;
	height:45px;
}
.event-info-top-fav span{
	font-size:36px; 
	color:#c0c0c0;
	vertical-align: middle;
	text-align:center;
	margin-top:10px;
}
.event-info-top-fav2{
	width:100%;
	height:25px;
}
.event-info-top-fav2 p{
	height:auto;
	display:inline;
	font-size:13px;
	color:#c0c0c0;
}
.event-info-top-fb{
	background:#3b5998;
	height:70px;
}
.event-info-top-fb a{
	display: block;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	color:#ffffff;
	padding-top:5px;
	font-weight:lighter;
	text-align:center;
}
.event-info-top-tw{
	background:#4099ff;
	height:70px;
}
.event-info-top-tw a{
	display: block;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	color:#ffffff;
	padding-top:5px;
	font-weight:lighter;
	text-align:center;
}
.container{
	background:#ffffff;
	border-radius: 9px 9px 9px 9px;
}
.event-pg-top-cat{
	font-size:16px !important;
	display:inline;
	color:#ffffff !important;
	padding:5px 9px;
	border:1px solid #ededed;
	border-radius: 9px 9px 9px 9px;
}
.art-title{
	margin-top:15px;
}
.art-title h2{
	font-size:28px;
	margin-top:15px !important;
	padding-bottom:5px;
}
.koko-box-shadow{
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2);
}
.fav-btn{
	text-align:center;

}
.in-cnts-h2{
	color:#2b2b2b;
	font-weight:bold;
	font-size:20px !important;
}
.comp-intro{
	padding:10px;
	border:1px solid #b0b0b0;
	margin-top:20px;
	margin-bottom:20px;
}
.comp-intro-top{
	height:50px;
	margin-top:10px;
	margin-bottom:10px;
	display:table-cell;
	vertical-align:middle;
}
.comp-intro-top img{
	max-width:50px;
	max-height:50px;
	float:left;
	margin-right:5px;
}
.comp-intro h3{
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:0 !important;
	margin:0 !important;
	margin-left:5px;
}
.comp-intro p{
	font-size:13px;
}
.img-obfit{
	padding:0 !important;
	max-height: 380px;
    object-fit: cover;
    overflow: hidden; // Cuts off the parts of the image poking out
}
.img-obfit img{
	border-radius:9px 9px 0px 0px;
	vertical-align: middle;
	margin:0 auto;
}
.img-obfit-incnts img{
	width:100%;
	height:auto;
	border:1px solid #ededed;
}
.detail-info-table{
	font-size:14px !important;
}
.detail-info-table table{
	border:1px solid #ededed;
	border-radius:9px 9px 9px 9px;
}
.detail-info-table tr{
	padding: 10px 20px;
}
.detail-info-table td{
	padding: 15px 20px;
	border-left:1px solid #ededed;
}
.detail-info-table-bold{
	font-weight:bold;
}
.detail-contact-tr{
	padding: 10px 20px;
}
.detail-contact-td{
	padding: 15px 20px;
	border-left:1px solid #ededed;
}
.apply-btn{
	text-align:center;
	margin:15px 0;
}




.sb-apply-btn1{
	border-radius: 9px 9px 9px 9px !important; 
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2); 
	height:70px;
	border:1px solid #509020;
	color:#ffffff;
	background:#d16b9a;
	font-size:22px !important;
}
.sb-apply-btn1:hover{
	color:#ffffff !important;
	background:#CE4C89;
}
.sb-apply-btn2{
	border-radius: 9px 9px 9px 9px !important; 
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2); 
	height:70px;
	border:1px solid #509020;
	color:#ffffff;
	background:#d1a16b;
	font-size:22px !important;
}
.sb-apply-btn2:hover{
	color:#ffffff !important;
	background:#CE9456;
}
.sb-apply-btn3{
	border-radius: 9px 9px 9px 9px !important; 
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2); 
	height:70px;
	border:1px solid #509020;
	color:#ffffff;
	background:#ced16b;
	font-size:22px !important;
}
.sb-apply-btn3:hover{
	color:#ffffff !important;
	background:#CCCE56;
}
.sb-apply-btn4{
	border-radius: 9px 9px 9px 9px !important; 
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2); 
	height:70px;
	border:1px solid #509020;
	color:#ffffff;
	background:#6b97d1;
	font-size:22px !important;
}
.sb-apply-btn4:hover{
	color:#ffffff !important;
	background:#5e95dd;
}
.sb-apply-btn5{
	border-radius: 9px 9px 9px 9px !important; 
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2); 
	height:70px;
	border:1px solid #509020;
	color:#ffffff;
	background:#9ad16b;
	font-size:22px !important;
}
.sb-apply-btn5:hover{
	color:#ffffff !important;
	background:#8ECE56;
}
.sb-apply-btn6{
	border-radius: 9px 9px 9px 9px !important; 
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2); 
	height:70px;
	border:1px solid #509020;
	color:#ffffff;
	background:#6bd16e;
	font-size:22px !important;
}
.sb-apply-btn6:hover{
	color:#ffffff !important;
	background:#56CE58;
}
.sb-apply-btn7{
	border-radius: 9px 9px 9px 9px !important; 
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2); 
	height:70px;
	border:1px solid #509020;
	color:#ffffff;
	background:#6bd1a1;
	font-size:22px !important;
}
.sb-apply-btn7:hover{
	color:#ffffff !important;
	background:#56CE94;
}
.sb-apply-btn8{
	border-radius: 9px 9px 9px 9px !important; 
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2); 
	height:70px;
	border:1px solid #509020;
	color:#ffffff;
	background:#6bcad1;
	font-size:22px !important;
}
.sb-apply-btn8:hover{
	color:#ffffff !important;
	background:#56C6CE;
}
.sb-apply-btn9{
	border-radius: 9px 9px 9px 9px !important; 
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2); 
	height:70px;
	border:1px solid #509020;
	color:#ffffff;
	background:#6e6bd1;
	font-size:22px !important;
}
.sb-apply-btn9:hover{
	color:#ffffff !important;
	background:#5856CE;
}

.btn-lg1{
	background:#d16b9a;
}
.btn-lg1:hover{
	background:#CE4C89;
}
.btn-lg2{
	background:#d1a16b;
}
.btn-lg2:hover{
	background:#CE9456;
}
.btn-lg3{
	background:#ced16b;
}
.btn-lg3:hover{
	background:#CCCE56;
}
.btn-lg4{
	background:#6b97d1;
}
.btn-lg4:hover{
	background:#5e95dd;
}
.btn-lg5{
	background:#9ad16b;
}
.btn-lg5:hover{
	background:#8ECE56;
}
.btn-lg6{
	background:#6bd16e;
}
.btn-lg6:hover{
	background:#56CE58;
}
.btn-lg7{
	background:#6bd1a1;
}
.btn-lg7:hover{
	background:#56CE94;
}
.btn-lg8{
	background:#6bcad1;
}
.btn-lg8:hover{
	background:#56C6CE;
}
.btn-lg9{
	background:#6e6bd1;
}
.btn-lg9:hover{
	background:#5856CE;
}


.event-pg-sb{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #ededed;
}
.event-pg-sb h1{
	font-size:16px;
	margin-top:15px !important;
}
.event-pg-sb h2{
	font-size:13px;
	color:#c0c0c0;
	margin-top:10px !important;
	margin-bottom:0px !important;
	text-align:left;
	padding-left:1px;
}

.event-pg-sb img{
	height:150px;
	max-width:100%;
}
.event-pg-sb p{
	font-size:13px;
	color:#c0c0c0;
	font-weight:lighter;
}
.event-pg-sb-cat{
	font-size:12px !important;
	display:inline;
	color:#ffffff !important;
	padding:3px 7px;
	border:1px solid #ededed;
	border-radius: 9px 9px 9px 9px;
}
.event-pg-sb-title{
	margin-top:5px;
	margin-bottom:5px;
}

