#content{
	padding:0 !important;
}

a{
	text-decoration: none;
}
canvas{
	display:block;
	vertical-align:bottom;
}

#particles{
	z-index:1;
}
.container{
	background:#ffffff;
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2);
	border-radius: 9px 9px 9px 9px;
}
.no-shadow{
	background:#ffffff;
	box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
	border-radius: 0;
}
.home-cntr{
	margin-bottom:20px;
}
.home-cntr-top{
	margin-bottom:20px;
	background-image:url("../img/office.jpg");
	background-position:right;
}
.cnts-top-bar-row{
	opacity:0.5;
}
.cnts-top-bar{
	height:5px;
}
.top-bgi{

}
.signin-a{

}
.top-welcome{
	padding-top:30px;
	margin-bottom:30px;
}
.top-welcome-right{

}
.top-welcome h1{
	text-align:center;
	font-size:32px;
	font-weight:lighter;
	background:none;
	margin-bottom:0px;
	color:#c0c0c0;
	letter-spacing: 0.04em;
	margin-bottom:30px;
	/** text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2); **/
}
.top-welcome p{
	text-align:center;
	font-size:24px;
	background:none;
}
.top-welcome img{
	margin-top:20px;
	max-width:250px;
}
.top-welcome-right img{
	margin:0 auto;
	max-width:150px;
}
.top-logo-img{
	max-width:150px !important;
}
.top-signin{
	background:rgba(0,0,0,0.5);
	border-radius: 0px 0px 9px 9px;
}
.top-signin p{
	font-weight:lighter;
	margin-bottom:0 !important;
	margin-top:5px;
}
.top-signin-internal{
	height:30px;
	background:#5ba525;
	opacity:0.5;
}
.top-signin-internal a{
	display: block;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}
.top-signin-fb{
	height:30px;
	background:rgba(59,89,152,0.5);
}
.top-signin-fb a{
	display: block;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}
.forget-pass a{
	text-decoration: none;
	font-size:13px;
	color:#2b2b2b;
}
.well-me{
  min-height: 20px;
  
  margin-bottom: 20px;
  /* background-color: #f5f5f5; */
  /* border: 1px solid #e3e3e3; */
  /* border-radius: 4px; */
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); */
  /* box-shadow: inset 0 1px 1px rgba(0,0,0,.05); */
}
.row h2{
	text-align:center;
	margin:48px 0;
}
.top-bgi{
	
}
.pop-lg{
	padding:10px;
	max-width:100%;

}
.pop-lg img{
	margin: 0 auto;
}
.pop-lg-infobox{
	height:100px;
	padding-top:15px;
}
.pop-lg-infobox h1{
	font-size:1.1em;
	margin-top:10px !important;
}
.p-center{
	margin:36px 0;
	text-align:center;
}
.gal-pad-elim{
	padding:0 !important;
}
.col-cat{
	padding:10px;
}
.col-cat a{
	display: block;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}
.col-cat a:hover+.col-cat-in1{
	border:3px solid #d16b9a;
}
.col-cat a:hover+.col-cat-in2{
	border:3px solid #d1a16b;
}
.col-cat a:hover+.col-cat-in3{
	border:3px solid #ced16b;
}
.col-cat a:hover+.col-cat-in4{
	border:3px solid #6b97d1;
}
.col-cat a:hover+.col-cat-in5{
	border:3px solid #9ad16b;
}
.col-cat a:hover+.col-cat-in6{
	border:3px solid #6bd16e;
}
.col-cat a:hover+.col-cat-in7{
	border:3px solid #6bd1a1;
}
.col-cat a:hover+.col-cat-in8{
	border:3px solid #6bcad1;
}
.col-cat a:hover+.col-cat-in9{
	border:3px solid #6e6bd1;
}
.col-cat-in{
	height:125px;
	max-width:360px;
	border:3px solid #e6e6e6;
	border-radius: 9px 9px 9px 9px;
}
.col-cat-in-logo{
	float:left;
	width:90px; 
	height:90px; 
	margin:15px;
	border-radius: 9px 9px 9px 9px;
}
.col-cat-in-logo p{
	padding-top:8px;
	padding-left:22px;
	color:#ffffff;
	font-size:52px;
}
.col-cat-in h3{
	line-height:25px;
	font-size:20px;
	font-weight:bold;
	padding-top:13px;
}
.col-cat-in h4{
	line-height:25px;
	font-size:16px;
	font-weight:bold;
	padding-top:27px;
}
.event-bgi{
	margin-bottom:50px;
}


.link_box{
    position:relative;
    width:100%;
    padding:2%;
    border:solid 1px #CCC;
    margin:0px auto;
    height:200px;
    overflow:hidden;
}
.incnts-belt{
	height:50px;
	border-radius: 9px 9px 0px 0px;
	box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.2);
}
.incnts-belt h1{
	margin-top:15px !important;
	color:#ffffff;
	font-size:24px;
}
.ctg-topbelt{
	z-index:1;
	position:absolute;
	width:100%;
	height:70px;
}
.ctg-row{
	width:auto;
	height:auto;
	padding-top:35px;
	padding-bottom:35px;
	margin-top:30px;
	margin-bottom:30px;
	border:1px solid #ffffff;
}
.ctg-row:hover{
	border:1px solid #ededed;
}
.ctg-row-comp-thumb img{
	float:left;
	clear:both;
	width:70px;
	height:70px;
	margin-right:20px;
	border:1px solid #ededed;
}
.art-list-comp{
	
}
.art-list-comp h2{
	text-align:left;
	font-size:15px;
	color:#808080;
	margin-top:5px !important;
	margin-bottom:15px !important;
}
.art-list-comp h1{
	color:#303030;
	font-size:20px;
	font-weight:bold;
	margin-top:10px !important;
	margin-bottom:15px !important;
}
.art-list-comp p{
	font-weight:lighter;
	font-size:13px;
	color:#c0c0c0;
}
.art-list-thumb{
	width:100%;
	height:200px;
	border-radius: 5px 5px 5px 5px;
	border:1px solid #ededed;
}
.art-list-info p{
	font-size:13px;
	color:#c0c0c0;
	padding-top:10px !important;
	padding-bottom:10px !important;
	margin-bottom:0 !important;
}
.img-obfit{
	padding:0 !important;
	height: auto;
    object-fit: cover;
    overflow: hidden; // Cuts off the parts of the image poking out
}
.img-obfit img{
	border-radius:9px 9px 0px 0px;
	vertical-align: middle;
}
.img-obfit-list{
	padding:0 !important;
	height: 250px;
    object-fit: cover;
    overflow: hidden; // Cuts off the parts of the image poking out
}
.img-obfit-list img{
	border-radius:9px 9px 0px 0px;
	vertical-align: middle;
}



.event-pg-sb{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #ededed;
}
.event-pg-sb h1{
	font-size:16px;
	margin-top:15px !important;
}
.event-pg-sb h2{
	font-size:13px;
	color:#c0c0c0;
	margin-top:10px !important;
	margin-bottom:0px !important;
	text-align:left;
	padding-left:1px;
}
.event-pg-sb img{
	
	max-width:100%;
}
.event-pg-sb p{
	font-size:13px;
	color:#c0c0c0;
	font-weight:lighter;
}
.event-pg-sb-cat{
	font-size:12px !important;
	display:inline;
	color:#ffffff !important;
	padding:3px 7px;
	border:1px solid #ededed;
	border-radius: 9px 9px 9px 9px;
}
.event-pg-sb-title{
	margin-top:5px;
	margin-bottom:5px;
}
#about-top-belt{
	width:100%;
	margin-top:50px;
	background-image:url('../img/bicycle.jpg');
	background-repeat:no-repeat; 
	background-size:cover;
	background-position:center center;
}
.about-top-text{
	text-align:center;
	background:rgba(0,0,0,0.5);
}
.about-top-text h2{
	font-size:18px;
}
.about-top-text img{
	max-width:150px;
	margin-top:60px;
	margin-bottom:50px;
}
.about-cnts1{
	text-align:left;
}
.about-cnts1 h1{
	color:#ffffff;
	font-size:32px;
	letter-spacing:0.04em;
	margin-bottom:20px;
	margin-top:40px;
}
.about-cnts1 h2{
	text-align:left;
	font-size:16px;
	color:#ffffff;
	letter-spacing:0.04em;
	line-height:25px;
	font-weight:lighter;
	margin-bottom:20px;
}
.about-cnts1 h3{
	font-size:14px;
	color:#ffffff;
	letter-spacing:0.04em;
	line-height:25px;
	font-weight:lighter;
	padding-bottom:10px;
}
.about-top-text ul{
	margin-top:20px;
}
.about-top-text li{
	font-size:22px;
	margin-top:10px;
	margin-bottom:10px;
}
.about-top-text a{
	color:#c0c0c0;
	font-weight:lighter;
}
.about-top-text a:hover{
	color:#ffffff;
}
.about-cnts-comp{
	color:#303030;
}
.about-cnts-comp h3{
	font-size:14px;
	color:#ffffff;
	letter-spacing:0.04em;
	line-height:25px;
	font-weight:lighter;
	padding-bottom:10px;
}
.about-comp-table tr{
	margin:15px;
}
.about-comp-table td{
	border-bottom:none;
}
.about-comp-table-lefttd{
	border-bottom:none;
}
.qanda-row{
	border-bottom:1px dotted #c0c0c0;
	padding-top:10px;
	padding-bottom:10px;
}