p,h1,h2{
	background:none;
}
a {
	text-decoration:none !important;
}
.navbar-brand img{
	max-width:30px;
	max-height:30px;
}
.header-login-btn{
	background:#5ba525;
	border-bottom:5px solid #5ba525;
}
.header-login-btn a{
	color:#ffffff !important;
}
#content{
	margin-top:-20px;
}
.header-btn-lg-1{
	border-bottom:5px solid #d16b9a;
}
.header-btn-lg-2{
	border-bottom:5px solid #ced16b;
}
.header-btn-lg-3{
	border-bottom:5px solid #9ad16b;
}
.header-btn-lg-4{
	border-bottom:5px solid #6bd16e;
}
.header-btn-lg-5{
	border-bottom:5px solid #6bd1a1;
}
.header-btn-lg-6{
	border-bottom:5px solid #6bd1a1;
}
.header-btn-lg-7{
	border-bottom:5px solid #6e6bd1;
}
.header-gal{
	padding: 0 3px;
	border-right:1px solid #ededed;
}
footer{
	border-top:1px solid #ededed;
}
.footer-container{
	background:#ffffff;
	box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
	padding-top:20px;
}
.footer-kokologo{
	padding-top:15px;
	padding-bottom:15px;
}
.footer-col{
	border-right:1px solid #ededed;
}
.footer-col ul{
	padding-top:20px;
	padding-bottom:20px;
}
.footer-col li{
	list-style:none;
	color:#c0c0c0;
	font-size:13px;
	padding-bottom:10px;
}
